<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./inc/meta %>
        <title>프론트 어드민</title>

        <script src="//tinymce.cachefly.net/4.2/tinymce.min.js"></script>
    </head>
    <body>
        <div id="app" class="wrapper"></div>
        
        <script type="text/javascript" src="/js/bundle.js"></script>
    </body>
</html>

