<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./inc/meta %>
    <title>로그인</title>
</head>
<body>
        로그인 테스트
        <div class="btn-area">
            <a class="btn btn-primary" href="javascript:;">로그인</a>
        </div>
    <script>
        var storage = window.localStorage;

        $('.btn-primary').on('click', function(e) {
            if (storage.getItem('token')) {
                console.log(storage.getItem('token'));

                $.ajax({
                    method: 'post',
                    url: '/api/verify_jwt',
                    headers: {
                        'Authorization': `Bearer ${storage.getItem('token')}`
                    },
                    success: function(_response) {
                        console.log('success');
                        console.log(_response);
                        window.location = '/';
                    },
                    error: function(_err) {
                        storage.removeItem('token');
                        window.location = '/auth/google';
                    }
                });
            } else {
                // $.ajax({
                //     method: 'get',
                //     url: '/api/get_jwt',
                //     success: function(_response) {
                //         console.log('success');
                //         console.log(_response);

                //         if (!_response.token) {
                //             //로그인 안함
                //             window.location = '/auth/google';
                //         } else {
                //             //막 로그인 함
                //             window.localStorage.setItem('token', _response.token);
                //         }
                //     },
                //     error: function(_err) {
                //         console.log('err');
                //         console.log(_err);
                //     }
                // });

                window.location = '/auth/google';
            }
            // 
        })
        // if ()
        // '/api/get_jwt'
    </script>
</body>
</html>