<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./inc/meta %>
        <title>로그인테스트</title>
    </head>
    <body>
        로그인 테스트
        <div class="btn-area">
            <a class="btn btn-primary" href="/auth/google">로그인</a>
        </div>
        
    </body>
</html>

