<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <% include ./../inc/meta %>
        <title><%= metaTitle %></title>
    </head>
    <body>
        <div class="wrapper">
             <% include ./../inc/sidebar %>

             <div id="content">
                <h2><%= title %></h2>
             </div>
        </div>
    </body>
</html>

